body{
    font-family: arial,sans-seif;
    color: #333;

}
header{
    background-color: #4caf50;
    color: white;
    padding: 1rem;
    text-align: center;
}
nav a {margin: 0 1rem;
    color: white;
text-decoration: none;
}
section {
    padding: 2rem;

}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}
th, td {
    padding: 8px;
    border: 1px solid #ddd;
}
th {
    background-color: #4caf50;
    color:white;
}