body{
    font-family: arial,sans-serif;
    color: #333;
}
header{
    background-color: #4cAf50;
    color: white;
    padding: 1rem;
    text-align: center;
}
nav a {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}
section{
    padding: 2rem;
    text-align: center;

}
hi {
    font-size: 2rem;
}
image{
    width: 100px;
    height: auto;
    object-fit: cover;

}
.  highlighted-drone{
  grid-column: span 3;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px
    rgb(0,0,0,0.2);
    border: 3px solid #4cAf50;
    border-radius: 10px;
}
